<div>
    <h1>Task Update Test</h1>
    <input type="text" placeholder="TaskID" data-ng-model="searchID"> <button data-ng-click
    <input type="text" placeholder="ID" data-ng-model="task.id"><br>
    <input type="text" placeholder="Title" data-ng-model="task.title"><br>
    <input type="text" placeholder="Description" data-ng-model="task.description"><br>

    <button data-ng-click="updateTask()">Click me for moar update testing.</button>
    <button data-ng-click="cancel()">Nah, i've had enough.</button>

</div>