<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container" data-ng-controller="createIssueCtrl">
            <div class="block-header">
                <h2>Create Issue</h2>

                <ul class="actions">
                    <li>
                        <div class="col-sm-3">
                            <button class="btn btn-danger waves-effect" data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-arrow-back"></i>&nbsp;Cancel</button>
                        </div>
                    </li><!--
            <li>
                <div class="col-sm-3">
                    <button class="btn bgm-teal btn-icon-text waves-effect waves-effect" data-swal-success title="Create Project"><i class="zmdi zmdi-check"></i>Create Project</button>
                </div>
            </li>-->
                </ul>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2>Related to {{selectedProject.title}}
                        <small>Fill in the provided fields in order to create a new issue.</small></h2>
                </div>


                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-label"></i></span>
                                <div class="fg-line">
                                    <input type="text" class="form-control input-lg" placeholder="Title" value="TestIssue" data-ng-model="issue.title">
                                </div>
                            </div>
                        </div>
                    </div>

                    <br/><br/>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="c-black f-500 m-b-20">Description</p>
                            <div class="fg-line">
                                <textarea class="form-control input-md description" placeholder="Write your description here..." data-ng-model="issue.description"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="block-header">
                <ul class="actions">
                    <li>
                        <div class="col-sm-3">
                            <button class="btn bgm-teal btn-icon-text waves-effect waves-effect" data-swal-success title="Create Issue" data-ng-click="createIssue()"><i class="zmdi zmdi-check"></i>Create Issue</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>