<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container" data-ng-controller="createProjectCtrl as cProjCtrl"><!---->
            <div class="block-header">
                <h2>Create Project</h2>

                <ul class="actions">
                    <li>
                        <div class="col-sm-3">
                            <button class="btn btn-danger waves-effect" data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-arrow-back"></i>&nbsp;Cancel</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2><small>Fill in the provided fields in order to create a new project.</small></h2>
                </div>

                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-label"></i></span>
                                <div class="fg-line">
                                        <input type="text" class="form-control input-lg" placeholder="Project Title" data-ng-model="project.title">
                                        <!--<div data-ng-repeat="cUser in users.contributableUsers" value="{{cUser.userID}}">C:( {{cUser.firstName}} {{cUser.lastName}} ({{cUser.userID}})</div>
                                        <div data-ng-repeat="mUser in users.managementableUsers" value={{mUser.userID}}>M: {{mUser.firstName}} {{mUser.lastName}} ({{mUser.userID}})</div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <br/><br/>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="c-black f-500 m-b-20 m-t-20">Description</p>
                            <div class="fg-line">
                                <textarea class="form-control input-md description" placeholder="Write your description here..." data-ng-model="project.description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2>Add User/s <small>Add users in the role as contributor or manager...</small></h2>
                </div>
                <div class="card-body card-padding"> <!-- data-ng-click="updateUsers()" -->
                    <div class="row">
                        <div class="col-sm-8 m-b-15">
                            <p class="f-500 c-black m-b-15">Contributor/s</p>
                            <select chosen multiple data-placeholder="Select a User..." class="w-100" data-ng-model="users.userPickerContributor" data-ng-options="user.userID as user.name for user in users.contributableUsers | orderBy:'user.user.name'">
                            </select>
                        </div>
                        <div class="col-sm-4 m-b-15">
                            <p class="f-500 c-black m-b-15">Manager/s</p>
                            <select chosen multiple data-placeholder="Select a User..." class="w-100" data-ng-model="users.userPickerManager" data-ng-options="user.userID as user.name for user in users.managementableUsers" data-ng-unfocus="updateUsers()">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2">Add Reward/s <small>Add rewards to increase the performance of your contributor/s...</small></h2>
                </div>
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-9 m-b-15">
                            <select  chosen multiple data-placeholder="Select a Reward..." class="w-100" data-ng-model="rewardPicker" data-ng-options="reward.id as reward.name for reward in rewards.rewardList | orderBy:'reward.level' ">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-header">
                <ul class="actions">
                    <li>
                        <div class="col-sm-3">
                            <button class="btn bgm-teal btn-icon-text waves-effect waves-effect" data-swal-success title="Create Project" data-ng-click="createProject()"><i class="zmdi zmdi-check"></i>Create Project</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>
