<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">

         <div class="container" data-ng-controller="createTaskCtrl"><!---->
            <div class="block-header">
                <h2>Create Task</h2>

                <ul class="actions">
                    <li>
                        <div class="col-sm-3">
                            <button class="btn btn-danger waves-effect" data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-arrow-back"></i>&nbsp;Cancel</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2><small>Fill in the provided fields in order to create a new task.</small></h2>
                </div>

                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-label"></i></span>
                                <div class="fg-line">
                                        <input type="text" class="form-control input-lg" placeholder="Title" data-ng-model="task.title">
                                </div>
                            </div>
                            <form id='example' name='example'>
                                <button ng-click="addField()">Add Field</button>
                                <div ng-repeat="field in data.fields">
                                    <div demo-display="field" demo-days="days"></div>
                                </div>
                                <tt>{{data.fields}}</tt>
                            </form>
                        </div>

                        <div class="col-sm-8 right">
                            <div class="fg-line">
                                <input type="text" class="form-control input-md" placeholder="Search Persons" data-ng-model="">
                            </div>
                            <div tabindex="9" style="overflow: hidden;" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>E-Mail</th>
                                        <th>Project Level</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>AVATAR IMG</td>
                                        <td>Alexandra</td>
                                        <td>Christopher</td>
                                        <td>@makinton</td>
                                        <td>1</td>
                                        <td><button class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>AVATAR IMG</td>
                                        <td>Madeleine</td>
                                        <td>Hollaway</td>
                                        <td>@hollway</td>
                                        <td>5</td>
                                        <td><button class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>AVATAR IMG</td>
                                        <td>Sebastian</td>
                                        <td>Johnston</td>
                                        <td>@sebastian</td>
                                        <td>4</td>
                                        <td><button class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>AVATAR IMG</td>
                                        <td>Mitchell</td>
                                        <td>Christin</td>
                                        <td>@mitchell4u</td>
                                        <td>2</td>
                                        <td><button class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <br/><br/>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="c-black f-500 m-b-20">Description</p>
                            <div class="fg-line">
                                <textarea class="form-control input-md description" placeholder="Write your description here..." data-ng-model="task.description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-header">
                <ul class="actions">
                    <li>
                        <div class="col-sm-3">
                            <button class="btn bgm-teal btn-icon-text waves-effect waves-effect" data-swal-success title="Create Task" data-ng-click="createTask()"><i class="zmdi zmdi-check"></i>Create Task</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>
