<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">

         <div class="container" data-ng-controller="createTaskCtrl"><!---->
            <div class="block-header">
                <h2>Create Task <span data-ng-show="isTransformedIssue"> from issue {{issue.title}}</span></h2>

                <ul class="actions">
                    <li>
                        <div class="col-sm-3">
                            <button class="btn btn-danger waves-effect" data-ui-sref="viewProject({pID: currentPID})" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-arrow-back"></i>&nbsp;Cancel</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2><small>Fill in the provided fields in order to create a new task<span data-ng-show="isTransformedIssue"> from this issue</span>.</small></h2>
                </div>

                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-label"></i></span>
                                <div ng-class="!titleFail ? 'fg-line' : 'fg-line has-feedback has-error'">
                                    <input type="text" id="taskTitle" class="form-control input-lg" placeholder="Title" data-ng-model="task.title" tooltip-class="tooltip-blue" tooltip-enable="titleFail" tooltip-trigger="focus" tooltip="Cannot be empty!" tooltip-placement="right">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <p class="c-black f-500 m-b-20 m-t-20">Select States</p>
                            <div class="form-group">
                                <div class="fg-line">
                                    <div class="select">
                                        <select class="form-control">
                                            <!--<option value="New">New</option>-->
                                            <option value="Open" selected="selected">Open</option>
                                            <!--<option value="Closed">Closed</option>-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="fg-line">
                                    <div class="select">
                                        <select class="form-control">
                                            <!--<option value="New">New</option>
                                            <option value="Open">Open</option>-->
                                            <option value="Closed" selected="selected">Closed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--{{allStateFields}}-->
                            <form>
                                <div data-ng-repeat="stateFieldId in data.stateFieldIds">
                                    <select class="form-control" data-ng-model="data.stateFields[stateFieldId.id]" required="Please select a state" data-ng-options="state.title for state in states track by state.title">
                                    </select>
                                </div>
                                <button data-ng-click="addState()" class="btn bgm-teal waves-effect"><i class="zmdi zmdi-plus"></i></button>
                                <button data-ng-click="removeState()" class="btn btn-danger waves-effect"><i class="zmdi zmdi-minus"></i></button>

                            </form>
                        </div>
                        <div class="col-sm-6">
                            <p class="c-black f-500 m-b-20 m-t-20">Select Template</p>
                            <!--{{allTemplateFields}}-->
                            <form>
                                <!--<div data-ng-repeat="templateField in data.templateFields">
                                    <div data-display-templates="templateField" data-templates="templates.title"></div>
                                </div>-->
                                <div data-ng-repeat="templateFieldId in data.templateFieldIds">
                                    <select class="form-control" data-ng-model="data.templateFields[templateFieldId.id]" required="Please select a template" data-ng-options="template.title for template in templates track by template.id">
                                    </select>
                                </div>

                                <button data-ng-click="addTemplate()" class="btn bgm-teal waves-effect"><i class="zmdi zmdi-plus"></i></button>
                                <button data-ng-click="removeTemplate()" class="btn btn-danger waves-effect"><i class="zmdi zmdi-minus"></i></button>
                                <!--<tt>{{data.fields}}</tt>-->
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="c-black f-500 m-b-20 m-t-20">Description</p>
                            <div ng-class="!descriptionFail ? 'fg-line' : 'fg-line has-feedback has-error'">
                                <textarea id="taskDescription" class="form-control input-md description" placeholder="Write your description here..." data-ng-model="task.description" tooltip-class="tooltip-blue" tooltip-enable="descriptionFail" tooltip-trigger="focus" tooltip="Cannot be empty!" tooltip-placement="right"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 m-b-15">
                            <p class="c-black f-500 m-b-20 m-t-20">Comments</p>
                            <div class="radio m-b-15">
                                <label>
                                    <input data-ng-model="task.comments" type="radio" value="true" checked="checked">
                                    <i class="input-helper"></i>
                                    Enable Comments
                                </label>
                            </div>
                            <div class="radio m-b-15">
                                <label>
                                    <input data-ng-model="task.comments" type="radio" value="false">
                                    <i class="input-helper"></i>
                                    Disable Comments
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                     <h2>Add User/s <small>Add users in the role as contributor...</small></h2>
                </div>
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-12 m-b-15">
                            <div class="radio m-b-15">
                                <label>
                                    <input data-ng-model="task.type" type="radio" value="collaborative_task" checked="checked">
                                    <i class="input-helper"></i>
                                    Collaborative Task
                                </label>
                            </div>
                            <div class="radio m-b-15">
                                <label>
                                    <input data-ng-model="task.type" type="radio" value="single_task">
                                    <i class="input-helper"></i>
                                    Single User Task
                                </label>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                         <div class="col-sm-12 m-b-15">
                             <p class="f-500 c-black m-b-15">Contributor/s</p>
                             <select chosen multiple data-placeholder="Select a User..." class="w-100" data-ng-model="task.contributors" data-ng-options="user.userID as user.name for user in userList"></select>
                         </div>
                     </div>
                </div>
            </div>

            <div class="block-header">
                <ul class="actions">
                    <li>
                        <div class="col-sm-3">
                            <button class="btn bgm-teal btn-icon-text waves-effect waves-effect" title="Create Task" data-ng-click="createTask()"><i class="zmdi zmdi-check"></i>Create Task <span data-ng-show="isTransformedIssue"> from this issue</span></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>
