<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content" data-ng-controller="mainViewCtrl as mVCtrl">

        <div class="container">

            <div class="block-header">
                <h2>Projects</h2>

                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-chevron-up" title="Date"></i>
                            <i class="zmdi zmdi-watch" title="Date"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-chevron-down" title="Date"></i>
                            <i class="zmdi zmdi-watch" title="Date"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-sort-asc"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-sort-desc"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="dash-widgets">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card floatEffect">
                            <div class="card-header bgm-project">
                                <div class="input-group" data-ui-sref="createProject">
                                    <span class="input-group-addon"><i class="zmdi zmdi-folder-outline c-white"></i></span>
                                    <h2>Create Project</h2>
                                </div>
                                <button class="btn bgm-teal btn-float waves-effect waves-effect waves-circle" data-ui-sref="createProject" data-ng-click="mactrl.sidebarStat($event)">
                                    <i class="zmdi zmdi-plus"></i>
                                </button>
                            </div>
                            <div class="card-body card-padding">
                                <br/>
                            </div>
                        </div>
                    </div>

                    <!-- NG Repeat starts HERE -->
                    <div class="col-sm-3" data-ng-repeat="project in userProjects">
                        <div class="card floatEffect" data-ui-sref="viewProject">
                            <div class="card-header bgm-project">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-folder-outline c-white"></i></span>
                                    <h2>{{project.title}}<small></small></h2>
                                </div>
                                <ul class="actions actions-alt">
                                    <li class="dropdown" dropdown>
                                        <a data-ui-sref="viewProject/{{project.projectID}}" dropdown-toggle aria-expanded="false" data-ng-click="viewProject(project.projectID)">>
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a data-ui-sref="viewProject/{{project.projectID}}" data-ng-click="viewProject(project.projectID)">View Project</a>
                                            </li>
                                            <li>
                                                <a href="" data-ng-click="createIssueForProject(project.projectID)">Create Issue</a>
                                            </li>
                                            <li>
                                                <a href="" data-ng-click="createTaskForProject(project.projectID)">Create Task</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body card-padding">
                                {{project.description}}
                            </div>
                        </div>
                    </div>
                    <!-- NG REPEAT ENDS HERE-->


                    <!--<div class="col-sm-3">
                        <div class="card floatEffect" data-ng-click="mactrl.sidebarStat($event)">
                            <div class="card-header bgm-project">
                                <div class="input-group" data-ui-sref="viewProject">
                                    <span class="input-group-addon"><i class="zmdi zmdi-folder-outline c-white"></i></span>
                                    <h2>Project1 <small></small></h2>
                                </div>
                                <ul class="actions actions-alt" data-ui-sref="">
                                    <li class="dropdown" dropdown>
                                        <a href="" dropdown-toggle aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a data-ui-sref="viewProject" data-ng-click="mactrl.sidebarStat($event)">View Project</a>
                                            </li>
                                            <li>
                                                <a data-ui-sref="createIssue" data-ng-click="mactrl.sidebarStat($event)">Create Issue</a>
                                            </li>
                                            <li>
                                                <a data-ui-sref="createTask" data-ng-click="mactrl.sidebarStat($event)">Create Task</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body card-padding">
                                The Description goes in here.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card floatEffect">
                            <div class="card-header bgm-project">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-folder-outline c-white"></i></span>
                                    <h2>Project2 <small></small></h2>
                                </div>
                                <ul class="actions actions-alt">
                                    <li class="dropdown" dropdown>
                                        <a href="" dropdown-toggle aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">View Project</a>
                                            </li>
                                            <li>
                                                <a href="">Create Issue</a>
                                            </li>
                                            <li>
                                                <a href="">Create Task</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body card-padding">
                                The Description goes in here.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card floatEffect">
                            <div class="card-header bgm-project">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-folder-outline c-white"></i></span>
                                    <h2>Project3 <small></small></h2>
                                </div>
                                <ul class="actions actions-alt">
                                    <li class="dropdown" dropdown>
                                        <a href="" dropdown-toggle aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">View Project</a>
                                            </li>
                                            <li>
                                                <a href="">Create Issue</a>
                                            </li>
                                            <li>
                                                <a href="">Create Task</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body card-padding">
                                The Description goes in here.
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>  
        </div>  
    </section>
</section>