<div class="container">

    <div class="block-header">
        <h2>Templates</h2>
    </div>

    <div class="dash-widgets">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header bgm-indigo">
                        <h2>Create Template</h2>
                        <button class="btn bgm-cyan btn-float waves-effect waves-effect waves-circle" data-ui-sref="createTemplate" data-ng-click="mactrl.sidebarStat($event)">
                            <i class="zmdi zmdi-plus"></i>
                        </button>
                    </div>
                    <div class="card-body card-padding">
                        <br/>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header bgm-indigo">
                        <h2>Template 1 <small></small></h2>
                    </div>
                    <div class="card-body card-padding">
                        checkbox ... (first 3 lines of code)
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header bgm-indigo">
                        <h2>Template 2 <small></small></h2>
                    </div>
                    <div class="card-body card-padding">
                        checkbox ... (first 3 lines of code)
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header bgm-indigo">
                        <h2>Template 3 <small></small></h2>
                    </div>
                    <div class="card-body card-padding">
                        checkbox ... (first 3 lines of code)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>