<div class="container" >

    <div class="card" id="profile-main" data-ng-controller="profileCtrl as pctrl">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="">
                        <img class="img-responsive" src="{{this.avatar}}" alt="Profile Picture">
                    </a>
                </div>

            <div class="pmo-block pmo-contact hidden-xs">
                <h2>Contact</h2>

                <ul>
                    <li><i class="zmdi zmdi-account"></i> {{ this.firstName }} {{ this.lastName }}</li>
                    <li><i class="zmdi zmdi-email"></i> {{ this.userID }}</li>
                </ul>
            </div>
        </div>

        <div class="pm-body clearfix">

            <data ui-view></data>
        </div>
    </div>
</div>
