<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Overall Experience</h2>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="pctrl.editSummary === 0">
            <div class="rating-list">
                <div class="listview">

                    <div class="lv-body">
                        <div class="p-15">
                            <div class="lv-item">
                                <div class="media">
                                    <div class="pull-left">
                                        {{user.level.currentLevel}} <i class="zmdi zmdi-star"></i>
                                    </div>

                                    <div class="pull-right">{{user.level.nextLevel}}</div>

                                    <div class="media-body">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{user.level.xpBar}}" aria-valuemin="0" aria-valuemax="100" style="width: {{user.level.xpBar}}%; height: 60px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
<!--
        <form data-ng-submit="pctrl.submit('profileSummary', 'Profile Summary')" class="pmbb-edit" data-ng-if="pctrl.editSummary === 1">
            <div class="fg-line">
                <textarea data-ng-model="pctrl.profileSummary" class="form-control" rows="5" placeholder="Summary...">Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor. Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.</textarea>
            </div>
            <div class="m-t-10">
                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="pctrl.editSummary = 0" >Cancel</button>
            </div>
        </form>
        -->
    </div>
</div>

<div class="pmb-block" data-ng-repeat="project in userProjects">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Project {{project.title}} Experience <i data-ng-show="project.role.trim()=='ADMIN'" class="zmdi zmdi-star"></i></h2>
        {{project.description}}
    </div>
    <div class="card-body card-padding">
        <div class="row">
            <div class="col-sm-12">
                <div class="fg-line" data-ng-show="currentUserRole=='ADMIN'">
                    <p class="f-500 c-black m-b-15">Earned Reward/s</p>
                </div>
                <div tabindex="9" style="overflow: hidden;" class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>XP Base</th>
                            <!--<th>Delete</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <!--NG Repeat for Reward starts here -->
                        <tr data-ng-repeat="rewards in project.rewards">
                            <td class="col-xs-2">
                                <div class="thumbnail noHeader">
                                    <img ng-src="{{reward.imageLink}}" width="75px" alt="Image of {{reward.name}}">
                                </div>
                            </td>
                            <td>{{reward.name}}</td>
                            <td>{{reward.description}}</td>
                            <td>{{reward.xpbase}}</td>
                            <!--<td><button class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>-->
                        </tr>
                        <!--NG Repeat for Reward ends  here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="pctrl.editSummary === 0">
            <div class="rating-list">
                <div class="listview">

                    <div class="lv-body">
                        <div class="p-15">
                            <div class="lv-item">
                                <div class="media">
                                    <div class="pull-left">
                                        Level 1 <i class="zmdi zmdi-star"></i>
                                    </div>

                                    <div class="pull-right">Level 2</div>

                                    <div class="media-body">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%; height: 60px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>-->
        <!--
                <form data-ng-submit="pctrl.submit('profileSummary', 'Profile Summary')" class="pmbb-edit" data-ng-if="pctrl.editSummary === 1">
                    <div class="fg-line">
                        <textarea data-ng-model="pctrl.profileSummary" class="form-control" rows="5" placeholder="Summary...">Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor. Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.</textarea>
                    </div>
                    <div class="m-t-10">
                        <button class="btn btn-primary btn-sm" type="submit">Save</button>
                        <button class="btn btn-link btn-sm" data-ng-click="pctrl.editSummary = 0" >Cancel</button>
                    </div>
                </form>

    </div>
</div>---->

<!--<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Project #2 Experience</h2>
        <!--
                <ul class="actions" data-ng-if="pctrl.editSummary === 0">
                    <li class="dropdown" dropdown>
                        <a href="" dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a data-ng-click="pctrl.editSummary = 1" href="">Edit</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                -->
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="pctrl.editSummary === 0">
            <div class="rating-list">
                <div class="listview">

                    <div class="lv-body">
                        <div class="p-15">
                            <div class="lv-item">
                                <div class="media">
                                    <div class="pull-left">
                                        Level 1 <i class="zmdi zmdi-star"></i>
                                    </div>

                                    <div class="pull-right">Level 2</div>

                                    <div class="media-body">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%; height: 60px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--
                    <form data-ng-submit="pctrl.submit('profileSummary', 'Profile Summary')" class="pmbb-edit" data-ng-if="pctrl.editSummary === 1">
                        <div class="fg-line">
                            <textarea data-ng-model="pctrl.profileSummary" class="form-control" rows="5" placeholder="Summary...">Sed eu est vulputate, fringilla ligula ac, maximus arcu. Donec sed felis vel magna mattis ornare ut non turpis. Sed id arcu elit. Sed nec sagittis tortor. Mauris ante urna, ornare sit amet mollis eu, aliquet ac ligula. Nullam dolor metus, suscipit ac imperdiet nec, consectetur sed ex. Sed cursus porttitor leo.</textarea>
                        </div>
                        <div class="m-t-10">
                            <button class="btn btn-primary btn-sm" type="submit">Save</button>
                            <button class="btn btn-link btn-sm" data-ng-click="pctrl.editSummary = 0" >Cancel</button>
                        </div>
                    </form>
                    -->
        </div>
    </div>-->
</div>