<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container" data-ng-controller="createRewardCtrl"><!---->
            <div class="block-header">
                <h2>View Rewards</h2>

                <ul class="actions">
                    <li>
                        <div class="col-sm-3">
                            <button class="btn btn-danger waves-effect" data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-arrow-back"></i>&nbsp;Cancel</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2><small>View and create Rewards.</small></h2>
                </div>

                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="c-black f-500 m-b-20 m-t-20">Create Reward</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-chart"></i></span>
                                <div class="fg-line">
                                    <input type="text" class="form-control input-md ng-pristine ng-valid ng-touched" placeholder="Name" data-ng-model="newReward.name">
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="fg-line">
                                    Choose XP:
                                    <input type="text" class="form-control input-md ng-pristine ng-valid ng-touched" placeholder="XP Base" data-ng-model="newReward.xp">
                                </div>
                                <div class="fg-line">
                                    Description:
                                    <input type="text" class="form-control input-md ng-pristine ng-valid ng-touched" placeholder="Reward Description" data-ng-model="newReward.description">
                                </div>
                                <div class="fg-line">
                                    Choose Image Link:
                                    <input type="text" class="form-control input-md ng-pristine ng-valid ng-touched" placeholder="Link" data-ng-model="newReward.link">
                                </div>
                            </div>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                                <div>

                                    <span class="btn btn-info btn-file waves-effect">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input name="..." type="file">
                                    </span>
                                    <a href="#" class="btn btn-danger fileinput-exists waves-effect" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                            <br>
                            <button class="btn bgm-teal btn-icon-text waves-effect waves-effect" data-swal-success title="Create Reward" data-ng-click="createReward()"><i class="zmdi zmdi-check"></i>Create Reward</button>
                        </div>
                        <div class="col-sm-7">
                            <div tabindex="9" style="overflow: hidden;" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>XP Base</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Start of ng repeat for rewards -->
                                    <tr data-ng-repeat="reward in rewards">
                                        <td class="col-xs-2">
                                            <div class="thumbnail noHeader">
                                                <img src="{{reward.imageLink}}" alt="Image for {{reward.name}}">
                                            </div>
                                        </td>
                                        <td>{{reward.name}}</td>
                                        <td>{{reward.xpbase}}</td>
                                        <td><button class="btn bgm-red waves-effect" data-ng-click="deleteReward(reward.id)"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                    <!-- End of ng repeat for rewards -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
