<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">

         <div class="container" data-ng-controller="updateTaskCtrl"><!---->
            <div class="block-header">
                <h2>View Task</h2>

                <ul class="actions">
                    <li>
                        <div class="col-sm-3">
                            <button class="btn btn-danger waves-effect" data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-arrow-back"></i>&nbsp;Cancel</button>
                        </div>
                    </li>
                    <li>
                        <div class="col-sm-3">
                            <button class="btn bgm-teal btn-icon-text waves-effect waves-effect" data-swal-success title="Save Task" data-ng-click="updateTask()"><i class="zmdi zmdi-check"></i>Save Task</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2><small>Edit the provided fields in order to modify a task.</small></h2>
                </div>

                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-label"></i></span>
                                <div class="fg-line">
                                        <input type="text" class="form-control input-lg" placeholder="<<Title>>" data-ng-model="task.title">
                                </div>
                            </div>
                            <p class="c-black f-500 m-b-20 m-t-20">Change State</p>
                            <div class="form-group">
                                <div class="fg-line">
                                    <div class="select">
                                        <select class="form-control">
                                            <option value="New">New</option>
                                            <option value="Open" selected="selected">Open</option>
                                            <option value="Closed">Closed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 right">
                            <div class="fg-line">
                                <select chosen multiple data-placeholder="Add Contributor/s..." class="w-100" data-ng-model="userPicker"></select>
                            </div>
                            <div tabindex="9" style="overflow: hidden;" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>E-Mail</th>
                                        <!--<th>Project Level</th>-->
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="user in selectedProject.userList">
                                        <td><img src="{{user.avatar}}" alt="Avatar of {{user.firstName}} {{user.LastName}}" height="50" width="50"></td>
                                        <td>{{user.firstName}}</td>
                                        <td>{{user.lastName}}</td>
                                        <td>{{user.userID}}</td>
                                        <!--<td>{{user.level}}</td> TODO Level to be implemented -->
                                        <td><button data-ng-click="deleteUserFromTask(user.userID)" class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                    <!--<tr>
                                        <td>AVATAR IMG</td>
                                        <td>Madeleine</td>
                                        <td>Hollaway</td>
                                        <td>@hollway</td>
                                        <td>5</td>
                                        <td><button class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>AVATAR IMG</td>
                                        <td>Sebastian</td>
                                        <td>Johnston</td>
                                        <td>@sebastian</td>
                                        <td>4</td>
                                        <td><button class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                    <tr>
                                        <td>AVATAR IMG</td>
                                        <td>Mitchell</td>
                                        <td>Christin</td>
                                        <td>@mitchell4u</td>
                                        <td>2</td>
                                        <td><button class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <p class="c-black f-500 m-b-20 m-t-20">Description</p>
                            <div class="fg-line">
                                <textarea class="form-control input-md description" placeholder="Your description..." data-ng-model="task.description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="card">
                 <div class="card-header">
                     <h2><< Subtask Title >><small>Subtask description...</small></h2>
                 </div>
             </div>
        </div>
    </section>
</section>
