<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container" data-ng-controller="updateProjectCtrl as uProjCtrl"><!---->
            <div class="block-header">
                <h2>View Project</h2>

                <ul class="actions">
                    <li>
                        <div class="col-sm-3">
                            <button class="btn btn-danger waves-effect" data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-arrow-back"></i>&nbsp;Cancel</button>
                        </div>
                    </li>
                    <li>
                        <div class="col-sm-3">
                            <button class="btn bgm-teal btn-icon-text waves-effect waves-effect" data-swal-success title="Save Project" data-ng-click="saveProject()"><i class="zmdi zmdi-check"></i>Save Project</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2><small>Edit the provided fields in order to modify your project.</small></h2>
                </div>

                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-label"></i></span>
                                <div class="fg-line">
                                        <input type="text" class="form-control input-lg" placeholder="<<Title>>" data-ng-model="selectedProject.title">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <p class="c-black f-500 m-b-20 m-t-20">Description</p>
                            <div class="fg-line">
                                <textarea class="form-control input-md description" placeholder="<<Your description...>>" data-ng-model="selectedProject.description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="fg-line">
                                <p class="f-500 c-black m-b-15">Contributor/s</p>
                                <select chosen multiple data-placeholder="Add a User..." class="w-100" data-ng-model="users.userPickerContributor" data-ng-options="user.userID as user.name for user in users.contributableUsers"></select>
                            </div>
                            <div tabindex="9" style="overflow: hidden;" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>E-Mail</th>
                                        <th>Project Level</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--NG Repeat for User starts here -->
                                    <tr data-ng-repeat="user in selectedProject.userList">
                                        <td><img src="{{user.avatar}}" alt="Avatar of {{user.firstName}} {{user.LastName}}" height="50" width="50"></td>
                                        <td>{{user.firstName}}</td>
                                        <td>{{user.lastName}}</td>
                                        <td>{{user.userID}}</td>
                                        <td>1</td><!--TODO Level to be implemented -->
                                        <td><button data-ng-click="deleteUserFromProject(user.userID)" class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                    <!--NG Repeat for User ends here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="fg-line">
                                <p class="f-500 c-black m-b-15">Manager/s</p>
                                <select chosen multiple data-placeholder="Select a User..." class="w-100" data-ng-model="users.userPickerManager" data-ng-options="user.userID as user.name for user in users.managementableUsers"></select>
                            </div>
                            <div tabindex="9" style="overflow: hidden;" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>E-Mail</th>
                                        <th>Project Level</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--NG Repeat for User starts here -->
                                    <tr data-ng-repeat="user in selectedProject.userList">
                                        <td><img src="{{user.avatar}}" alt="Avatar of {{user.firstName}} {{user.LastName}}" height="50" width="50"></td>
                                        <td>{{user.firstName}}</td>
                                        <td>{{user.lastName}}</td>
                                        <td>{{user.userID}}</td>
                                        <td>1</td><!--TODO Level to be implemented -->
                                        <td><button data-ng-click="deleteUserFromProject(user.userID)" class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                    <!--NG Repeat for User ends here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="fg-line">
                                <p class="f-500 c-black m-b-15">Reward/s</p>
                                <select chosen multiple data-placeholder="Add a Reward..." class="w-100" data-ng-model="users.userPickerContributor" data-ng-options="user.userID as user.name for user in users.contributableUsers"></select>
                            </div>

                        <!--
                        <div class="form-group noMargin">
                            <div class="fg-line">
                                <div class="select">
                                    <select class="form-control">
                                        <option value="" selected="selected">Choose Reward (Name | Level)</option>
                                        <option value="Reward 5 | Level 5">Reward 5 | Level 5</option>
                                        <option value="Reward 6 | Level 6">Reward 6 | Level 6</option>
                                        <option value="Reward 7 | Level 7">Reward 7 | Level 7</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        -->

                            <div tabindex="9" style="overflow: hidden;" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>XP Base</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <!--NG Repeat for Reward starts here -->
                                        <tr data-ng-repeat="reward in selectedProject.rewards">
                                            <td class="col-xs-2">
                                                <div class="thumbnail noHeader">
                                                    <img src="{{reward.imageLink}}" alt="Image of {{reward.name}}">
                                                </div>
                                            </td>
                                            <td>{{reward.name}}</td>
                                            <td>{{reward.description}}</td>
                                            <td>{{reward.xpbase}}</td>
                                            <td><button class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                        </tr>
                                        <!--NG Repeat for Reward ends  here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dash-widgets">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card floatEffect">
                            <div class="card-header bgm-task">
                                <div class="input-group" data-ui-sref="createTask">
                                    <span class="input-group-addon"><i class="zmdi zmdi-file-text c-white"></i></span>
                                    <h2>Create Task</h2>
                                </div>
                                <button class="btn bgm-teal btn-float waves-effect waves-effect waves-circle" data-ui-sref="createTask({pID: currentPID})" data-ng-click="mactrl.sidebarStat($event)">
                                    <i class="zmdi zmdi-plus"></i>
                                </button>
                            </div>
                            <div class="card-body card-padding">
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card floatEffect">
                            <div class="card-header bgm-issue">
                                <div class="input-group" data-ui-sref="createIssue({pID: selectedProject})">
                                    <span class="input-group-addon"><i class="zmdi zmdi-file c-white"></i></span>
                                    <h2>Create Issue</h2>
                                </div>
                                <button class="btn bgm-teal btn-float waves-effect waves-effect waves-circle" data-ui-sref="createIssue({pID: currentPID})" data-ng-click="mactrl.sidebarStat($event)">
                                    <i class="zmdi zmdi-plus"></i>
                                </button>
                            </div>
                            <div class="card-body card-padding">
                                <br/>
                            </div>
                        </div>
                    </div>

                    <!-- NG Repeat for Tasks starts here -->
                    <div class="col-sm-3" data-ng-repeat="task in selectedProject.allTasks">
                        <div class="card floatEffect" data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="viewTask({tID:task.id})">
                            <div class="card-header bgm-task">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-file c-white"></i></span>
                                    <h2>{{task.title|limitTo:20}}<small>{{task.status|limitTo:30}}</small></h2>
                                </div>
                            </div>
                            <div class="card-body card-padding">
                                {{task.description|limitTo:30}}
                            </div>
                        </div>
                    </div>
                    <!-- NG Repeat for Tasks ends here-->

                    <!-- NG Repeat for Issues starts here -->
                    <div class="col-sm-3" data-ng-repeat="issue in selectedProject.allIssues">
                        <div class="card floatEffect" data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="viewIssue({iID:issue.ID})">
                            <div class="card-header bgm-issue">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-file-text c-white"></i></span>
                                    <h2>{{issue.title|limitTo:20}}<small>{{issue.user.firstName|limitTo:20}} {{issue.user.lastName|limitTo:20}}</small></h2>
                                </div>
                            </div>
                            <div class="card-body card-padding">
                                {{issue.description|limitTo:30}}
                            </div>
                        </div>
                    </div>
                    <!-- NG Repeat for Issues ends here-->
                </div>
            </div>
        </div>
    </section>
</section>