<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container" data-ng-controller="updateProjectCtrl as uProjCtrl"><!---->
            <div class="block-header">
                <h2>View Project</h2>

                <ul class="actions">
                    <li>
                        <div class="col-sm-3">
                            <button class="btn btn-danger waves-effect" data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-arrow-back"></i>&nbsp;Cancel</button>
                        </div>
                    </li>
                    <li>
                        <div class="col-sm-3">
                            <button class="btn bgm-teal btn-icon-text waves-effect waves-effect" title="Save Project" data-ng-show="currentUserRole=='ADMIN'" data-ng-click="updateContributors(); updateManagers(); saveProject()"><i class="zmdi zmdi-check"></i>Save Project</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card">
                <div class="card-header" data-ng-show="currentUserRole=='ADMIN'">
                    <h2><small>Edit the provided fields in order to modify your project.</small></h2>
                </div>

                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="zmdi zmdi-label"></i></span>
                                <div ng-class="!titleFail ? 'fg-line' : 'fg-line has-feedback has-error'">
                                    <input type="text" id="projectTitle" class="form-control input-lg" placeholder="<<Title>>" data-ng-model="selectedProject.title" tooltip-class="tooltip-blue" tooltip-enable="titleFail" tooltip-trigger="focus" tooltip="Cannot be empty!" tooltip-placement="right">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <p class="c-black f-500 m-b-20 m-t-20">Description</p>
                            <div ng-class="!descriptionFail ? 'fg-line' : 'fg-line has-feedback has-error'">
                                <textarea id="projectDescription" class="form-control input-md description" placeholder="<<Your description...>>" data-ng-model="selectedProject.description" tooltip-class="tooltip-blue" tooltip-enable="descriptionFail" tooltip-trigger="focus" tooltip="Cannot be empty!" tooltip-placement="right"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-header margin-bottom-default">
                <h2>Tasks / Issues</h2>
                <ul class="actions">
                    <li>
                        <div class="fg-line text-search">
                            <input kl_virtual_keyboard_secure_input="on" data-ng-model="search" class="form-control background-grey" placeholder="Search..." type="text">
                        </div>
                    </li>
                    <!--<li>
                        <a href="" data-ng-click="sort='updateTime'">
                            <i class="zmdi zmdi-chevron-up" title="Date"></i>
                            <i class="zmdi zmdi-watch" title="Date"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" data-ng-click="sort='-updateTime'">
                            <i class="zmdi zmdi-chevron-down" title="Date"></i>
                            <i class="zmdi zmdi-watch" title="Date"></i>
                        </a>
                    </li>-->
                    <li>
                        <a href="" data-ng-click="sort='title'; titleAsc=true; titleDesc=false;" ng-class="titleAsc || ( !titleAsc && !titleDesc ) ? 'actionsActive' : '' ">
                            <i class="zmdi zmdi-sort-asc"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" data-ng-click="sort='-title'; titleDesc=true; titleAsc=false;" ng-class="titleDesc ? 'actionsActive' : '' ">
                            <i class="zmdi zmdi-sort-desc"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dash-widgets">
                <div class="row">
                    <div class="col-sm-3" data-ng-show="currentUserRole=='ADMIN'">
                        <div class="card floatEffect">
                            <div class="card-header bgm-task">
                                <div class="input-group" data-ui-sref="createTask({pID: currentPID})">
                                    <span class="input-group-addon"><i class="zmdi zmdi-file-text c-white"></i></span>
                                    <h2>Create Task<small>Status of Task</small></h2>
                                </div>
                                <button class="btn bgm-teal btn-float waves-effect waves-effect waves-circle" data-ui-sref="createTask({pID: currentPID})" data-ng-click="mactrl.sidebarStat($event)">
                                    <i class="zmdi zmdi-plus"></i>
                                </button>
                            </div>
                            <div class="card-body card-padding">
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card floatEffect">
                            <div class="card-header bgm-issue">
                                <div class="input-group" data-ui-sref="createIssue({pID: currentPID})">
                                    <span class="input-group-addon"><i class="zmdi zmdi-file c-white"></i></span>
                                    <h2>Create Issue<small>Author of Issue</small></h2>
                                </div>
                                <button class="btn bgm-teal btn-float waves-effect waves-effect waves-circle" data-ui-sref="createIssue({pID: currentPID})" data-ng-click="mactrl.sidebarStat($event)">
                                    <i class="zmdi zmdi-plus"></i>
                                </button>
                            </div>
                            <div class="card-body card-padding">
                                <br/>
                            </div>
                        </div>
                    </div>

                    <!-- NG Repeat for Tasks starts here -->
                    <div class="col-sm-3" data-ng-repeat="task in selectedProject.allTasks | filter:{title: search, description: search} | orderBy:sort">
                        <div class="card floatEffect" data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="viewTask({tID:task.id, pID: currentPID})">
                            <div class="card-header bgm-task">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-file-text c-white"></i></span>
                                    <img ng-src="{{task.userList[0].avatar}}" alt="Avatar of {{task.userList[0].firstName}} {{task.userList[0].lastName}}" height="20" width="20" data-ng-show="task.executionType=='single_task'"> <h2>{{task.title|limitTo:20}}{{task.title > 30 ? '...' : ''}}<small>{{task.status|limitTo:30}}</small></h2>
                                </div>
                            </div>
                            <div class="card-body card-padding">
                                {{task.description|limitTo:30}}{{task.description > 30 ? '...' : ''}}
                            </div>
                        </div>
                    </div>
                    <!-- NG Repeat for Tasks ends here-->

                    <!-- NG Repeat for Issues starts here -->
                    <div class="col-sm-3" data-ng-show="currentUserRole=='ADMIN'" data-ng-repeat="issue in selectedProject.allIssues | filter:{title: search, description: search} | orderBy:sort">
                        <div class="card floatEffect" data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="viewIssue({iID:issue.id, pID: currentPID})">
                            <div class="card-header bgm-issue">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-file c-white"></i></span>
                                    <h2>{{issue.title|limitTo:20}}{{issue.title.length > 20 ? '...' : ''}}<small>{{issue.user.firstName|limitTo:20}} {{issue.user.lastName|limitTo:20}}</small></h2>
                                </div>
                            </div>
                            <div class="card-body card-padding">
                                {{issue.description|limitTo:30}}{{issue.description.length > 30 ? '...' : ''}}
                            </div>
                        </div>
                    </div>
                    <!-- NG Repeat for Issues ends here-->
                </div>
            </div>
            <div class="card">
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="fg-line">
                                <p class="f-500 c-black m-b-15">Contributor/s</p>
                                <div data-ng-show="currentUserRole=='ADMIN'" ng-click="updateContributors()">
                                    <select chosen multiple data-placeholder="Add a User..."  class="w-100" data-ng-model="users.userPickerContributor" data-ng-options="user.userID as user.name for user in users.contributableUsers | orderBy:'user.name'"></select>
                                </div>
                            </div>
                            <div tabindex="9" style="overflow: hidden;" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>E-Mail</th>
                                        <th>XP</th>
                                        <th>Delete</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--NG Repeat for Contributor starts here -->
                                    <tr data-ng-repeat="user in selectedProject.userList" ng-if="user.role.trim()=='CONTRIBUTOR'">
                                        <td><img ng-src="{{user.avatar}}" alt="Avatar of {{user.firstName}} {{user.LastName}}" height="50" width="50"></td>
                                        <td data-ui-sref="profile({uID: user.userID})">{{user.firstName}}</td>
                                        <td data-ui-sref="profile({uID: user.userID})">{{user.lastName}}</td>
                                        <td data-ui-sref="profile({uID: user.userID})">{{user.userID}}</td>
                                        <td>{{user.level.currentXp}}</td>
                                        <td><button data-ng-click="deleteUserFromProject(user.userID)" data-ng-show="currentUserRole=='ADMIN'" class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                    <!--NG Repeat for Contributor ends here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="fg-line">
                                <p class="f-500 c-black m-b-15">Manager/s</p>
                                <div data-ng-show="currentUserRole=='ADMIN'" ng-click="updateManagers()">
                                    <select chosen multiple data-placeholder="Select a User..." class="w-100" data-ng-model="users.userPickerManager" data-ng-options="user.userID as user.name for user in users.managementableUsers | orderBy:'user.name'"></select>
                                </div>
                            </div>
                            <div tabindex="9" style="overflow: hidden;" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>E-Mail</th>
                                        <th>XP</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--NG Repeat for Manager starts here -->
                                    <tr data-ng-repeat="user in selectedProject.userList" ng-if="user.role.trim()=='ADMIN'">
                                        <td data-ui-sref="profile({uID: user.userID})"><img ng-src="{{user.avatar}}" alt="Avatar of {{user.firstName}} {{user.LastName}}" height="50" width="50"></td>
                                        <td data-ui-sref="profile({uID: user.userID})">{{user.firstName}}</td>
                                        <td data-ui-sref="profile({uID: user.userID})">{{user.lastName}}</td>
                                        <td data-ui-sref="profile({uID: user.userID})">{{user.userID}}</td>
                                        <td>{{user.level.currentXp}}</td>
                                        <td><button data-ng-click="deleteUserFromProject(user.userID)" data-ng-show="currentUserRole=='ADMIN'" class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                    <!--NG Repeat for Manager ends here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="fg-line" data-ng-show="currentUserRole=='ADMIN'">
                                <p class="f-500 c-black m-b-15">Reward/s</p>
                                <select chosen multiple data-placeholder="Add a Reward..." class="w-100" data-ng-model="users.rewardPicker" data-ng-options="reward.rewardID as reward.title for reward in rewards | orderBy:'level'"></select>
                            </div>
                            <div tabindex="9" style="overflow: hidden;" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>XP Base</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--NG Repeat for Reward starts here -->
                                    <tr data-ng-repeat="reward in selectedProject.rewards">
                                        <td class="col-xs-2">
                                            <div class="thumbnail noHeader">
                                                <img ng-src="{{reward.imageLink}}" alt="Image of {{reward.name}}">
                                            </div>
                                        </td>
                                        <td>{{reward.name}}</td>
                                        <td>{{reward.description}}</td>
                                        <td>{{reward.xpbase}}</td>
                                        <td><button class="btn bgm-red waves-effect"><i class="zmdi zmdi-close"></i></button></td>
                                    </tr>
                                    <!--NG Repeat for Reward ends  here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>