<div>
    <h1>Project Update Test</h1>
    <input type="text" placeholder="ProjectID" data-ng-model="searchID"> <button data-ng-click="showProject()">Get project information</button><br>
    <input type="text" placeholder="ID" data-ng-model="project.id"><br>
    <input type="text" placeholder="Title" data-ng-model="project.title"><br>
    <input type="text" placeholder="Description" data-ng-model="project.description"><br>

    <button data-ng-click="updateProject()">Click me for moar update testing.</button>
    <button data-ng-click="cancel()">Nah, i've had enough.</button>

</div>