<div>
    <table>
        <thead>
        <tr>
            <th>email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Password</th>
            <th> </th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.email }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.password}}</td>
            <td><a ng-click="editUser(user.id)">edit User</a></td>
            <td><a ng-click="deleteUser(user.id)">delete User</a></td>
        </tr>
        </tbody>
    </table>
    <button data-ng-click="cancel()">Nah, i've had enough.</button>
</div>