<div>
    <div>
        <h1>Registration Test</h1>
        <input type="text" placeholder="First Name" data-ng-model="user.firstName"><br>
        <input type="text" placeholder="Last Name" data-ng-model="user.lastName"><br>
        <input type="password" placeholder="Password" data-ng-model="user.password"><br>
        <input type="password" placeholder="Retype Password" data-ng-model="passwordRegistration2"><br>
        <input type="text" placeholder="Email Address" data-ng-model="user.email"><br>
        <button data-ng-click="saveUser()">Click me for moar registration testing.</button>
        <button data-ng-click="cancel()">Nah, i've had enough.</button>
    </div>
</div>